header {
    display: flex;
    padding: 30px;
    background-color: rgb(255, 249, 242);
    color: rgb(88, 64, 31)
    
}

body {
    display:flex;
}

main {
    background-color: rgb(248, 227, 200);
}

#for-text-colors {
   color: rgb(88, 64, 31)
}

#name-list {
    display: grid
    flex-wrap: wrap;
    grid-template-columns: 30vw 35vw 30vw;
    grid-template-rows: 30vh 35vh 30vh;
    align-content: center;
    column-count: 3;
    column-gap: 40px;
    overflow-wrap: break-word;
}

h3 {
    break-after: column;
}

#random-drink {
    display: flex;
    overflow-x: auto;
    margin: 1rem 0;
    max-width: calc(100vw - 2rem);
    max-height: 600px;
    font-size: 24px;
}

#random-drink-image {
    display: block;
    justify-content: center;
    margin: auto;

}

